@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeImage {
  width: 250px;
  height: 200px;
  display: block;
}

.recipeTitle {
  display: inline-block;
  margin-left: 20px;
  max-width: 500px;
}

.recipeHeader {
  margin: 20px 20px 20px 0px;
}

.startButton {
  background-color: #01c187;
  color: white;
  border-radius: 12px;
  height: 50px;
  width: 200px;
  border: none;
  margin-top: 10px;
}

.prep {
  max-width: 700px;
  margin-top: 30px;
}

.ingredientImage {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 40px;
}

.ingredientContainer {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 500px;
  background-color: #01c187;
  border-radius: 12px;
}

.ingredientCard {
  display: flex;
  background-color: white;
  margin: 10px;
  border-radius: 3px;
}

.ingredientName {
  display: inline-block;
  font-size: 20px;
}

.ingredientInfo {
  display: inline-block;
  padding: 10px;
  max-width: 400px;
}

.ingredientsTitle {
  margin: 10px;
  font-size: 24px;
  color: white;
}

.fixedContainer {
  width: 100%;
  height: 250px;
  position: fixed;
  bottom: 0px;
  background-color: white;
  border-top: 12px solid #01c187;
}

.servings {
  margin: 20px;
}

.servingsInput {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #01c187;
  font-size: 40px;
  text-align: center;
}

.servingsText {
  font-size: 40px;
  margin-left: 10px;
}

.cost {
  /* text-align: center; */
  font-size: 30px;
}

.servingsContainer {
  padding: 30px;
  margin-left: 30px;
  text-align: center;
  position: fixed;
  left: 0px;
}

.costContainer {
  padding: 30px;
  text-align: center;
  align-self: right;
  position: fixed;
  left: 33%;
}

.addItemsContainer {
  padding: 30px;
  margin-right: 30px;
  text-align: center;
  position: fixed;
  right: 0px;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.rowb {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.grocery {
  height: 50px;
}

.groceryButton {
  margin: 10px;
  border-radius: 12px;
  background-color: white;
}

.items {
  font-size: 30px;
}

.itemsButton {
  background-color: #01c187;
  color: white;
  border-radius: 12px;
  margin-top: 10px;
  height: 50px;
  width: 200px;
  border: none;
}

.checkbox {
  position: absolute;
  margin: 40px 20px 0px 20px;
  border: none;
}

.SavedCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.savedCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.savedCardContent {
  display: flex;
  align-items: center;
}

.savedCardImageContainer {
  flex: 0 0 auto;
  margin-right: 20px;
}

.savedCardImage {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.savedCardTitle {
  flex: 1;
}

.savedCardTitle h2 {
  margin-top: 0;
}

.deleteButton {
  background-color: #01c187;
  color: white;
  border-radius: 12px;
  height: 50px;
  width: 160px;
  border: none;
  margin: 20px 20px 20px 40px;
}

.savedTitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 50px 0px 10px 0px;
}

.recTitle {
  font-size: 20px;
  text-align: center;
}

.saveTitleTime {
  display: inline-block;
  margin-left: 20px;
  max-width: 500px;
}

.saveCard {
  /* height: 260px; */
  background: white;
  max-width: 800px;
  display: flex;
  align-items: center;
  margin: 50px;
}

.recCard {
  max-width: 240px;
  background-color: white;
  display: inline-block;
  align-items: center;
  border-radius: 12px;
  margin: 20px;
  padding: 16px;
}

.recCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recHeader {
  /* font-size: 30px;
  padding: 10px;
  font-weight: 600; */
  font-size: 18px;
  font-weight: bold;
}

.recTime {
  /* padding: 10px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
  display: inline-block; */
  margin-top: 5px;
}

.recImage {
  /* width: 200px;

  display: block;
  align-items: center;
  text-align: left; */
  width: 200px; /* Adjust as needed */
  height: auto;
  margin-bottom: 10px;
}

.savedRecipesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.saveCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #01c187;
}

.recContent {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: flex-start; /* Aligns items to the left */
}
